BOOTSTRAP_SERVERS=pkc-xxxxx.us-east-1.aws.confluent.cloud:9092
SCHEMA_REGISTRY_URL=https://psrc-xxxxx.us-east-2.aws.confluent.cloud
INPUT_FILE=./watch-history.html
SM_SECRET_PATH=/yt-pipeline/confluent/producer
AWS_REGION=us-east-1
# KAFKA_TOPIC=yt.raw.watch.events  # optional; defaults to yt.raw.watch.events
